body{
    font-family: "Plus Jakarta Sans", sans-serif  !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}



.navbar{
    height: 5rems;
    background-color: aliceblue;
}
.fa-earth-americas{
    color:darkorchid;
    font-size: 2rem;
}
.nav-link{
    color: #22222222;
}

/* footer */
.f-info i{
    font-size:1.2rem;
    margin:0.5rem;
    cursor: pointer;
}
.f-info i:hover{

    transform: scale(1.1);
}
.f-info-links a{
    text-decoration: none;
    color: black;
}
.f-info-links a:hover{
    text-decoration:underline;
}
.f-info{
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* cards */
.card{
    border: none !important;
    margin-bottom: 2rem;
}
.review-card{
    border: 1px solid black !important;
    /* padding: 2px ; */
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text span{
    color:gray;
    /* font-size:small; */
    /* font-weight:100 !important; */
}
.listing-link{
    text-decoration: none ;
}

/* card Effect */

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color:whitesmoke;
}


.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}